body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 80%;
    max-width: 40rem;
    background: #4527a0;
    color: white;
    margin: 2rem auto;
    border-radius: 4px;
}

.controls {
    padding: 1rem 2rem;
    background: lightblue;
    display: flex;
    justify-content: center;
}

.timer {
    display: inline-block;
    margin-right: 2rem;
}

.timer span:after {
    content: ':';
    margin: 0 0.5rem; 
}

/* .timer span:last-child:after { */
.timer span.sec:after {
    content: '';
    margin: 0;
}

.turn-display {
    text-align: center;
    font-size: 1.4rem;
}

.board {
    background: lavenderblush;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.board button {
    width: 23%;
    display: inline-block;
    margin: 0.5rem 1%;
}

.scores {
    font-size: 1.25rem;
    padding: 1rem;
}

.scores .player:nth-child(2) {
    float: right;
}